In [34]:
import pandas as pd
import numpy as np

In [35]:
# NSE
df = pd.read_csv('C:\\Users\\Daniel aghanya\\Pictures\\tiktok download\\Final_Year_Project-main\\Uni project\\NSE All Share Historical Data.csv')
df.dropna(inplace=True)
df = df.iloc[::-1].reset_index(drop=True)
df.head()

         Date      Price       Open       High        Low     Vol. Change %
0  23/09/2015  30,543.17  30,426.78  30,560.93  30,425.31  466.94M    0.38%
1  30/08/2016  27,493.12  27,368.41  27,517.13  27,364.18  230.13M    0.46%
2  31/08/2016  27,599.03  27,493.12  27,612.13  27,487.20  262.61M    0.39%
3  01/09/2016  28,419.92  27,599.03  28,421.27  27,599.03  229.23M    2.97%
4  02/09/2016  27,756.67  28,419.92  28,488.00  27,744.76  309.45M   -2.33%

In [36]:
def convert_volume(volume_str):
    if volume_str.endswith('M'):
        return float(volume_str.replace('M', '')) * 1e6
    elif volume_str.endswith('B'):
        return float(volume_str.replace('B', '')) * 1e9
    else:
        return float(volume_str)

# Apply the conversion function to the 'Vol.' column
df['Vol.'] = df['Vol.'].apply(convert_volume)
df['Date'] = pd.to_datetime(df['Date'])

C:\Users\Daniel aghanya\AppData\Local\Temp\ipykernel_10488\1075058231.py:11: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['Date'] = pd.to_datetime(df['Date'])

In [37]:
# Function to preprocess and convert percentage columns
def preprocess_df(df):
    for column in df.columns:
        # Check if the column's values are of type object (string) and contain a '%' sign
        if df[column].dtype == object and df[column].str.contains('%').any():
            # Remove '%' sign and convert to float
            df[column] = df[column].str.replace('%', '').astype(float) / 100
        # Additionally, remove commas from numeric columns that are still formatted as strings
        elif df[column].dtype == object and df[column].str.contains(',').any():
            df[column] = df[column].str.replace(',', '').astype(float)

In [38]:
preprocess_df(df)

In [39]:

df['Close'] = df['Price'].astype(np.float64)  # Assuming 'Close' is same as 'Price'
df['Date'] = pd.to_datetime(df['Date'])


# Rename columns to a more familiar format
df.rename(columns={
    'Open': 'open', 
    'High': 'high', 
    'Low': 'low', 
    'Close': 'close', 
    'Vol.': 'volume',
}, inplace=True)


df.head()

,Date,Price,open,high,low,volume,Change %,close
0,2015-09-23,30543.17,30426.78,30560.93,30425.31,466940000.0,0.0038,30543.17
1,2016-08-30,27493.12,27368.41,27517.13,27364.18,230130000.0,0.0046,27493.12
2,2016-08-31,27599.03,27493.12,27612.13,27487.20,262610000.0,0.0039,27599.03
3,2016-09-01,28419.92,27599.03,28421.27,27599.03,229230000.0,0.0297,28419.92
4,2016-09-02,27756.67,28419.92,28488.00,27744.76,309450000.0,-0.0233,27756.67

In [40]:
# Define the file path
file_path = r'C:\Users\Daniel aghanya\Pictures\tiktok download\Final_Year_Project-main\Uni project\Project\aghanyan_Dissertation_Project_Files\Data\NSECleaned.csv'

# Save the DataFrame to a CSV file
df.to_csv(file_path, index=False)

In [41]:
# Calculate the required statistics for the 'Price' column
statistics = {
    'Average': df['Price'].mean(),
    'Median': df['Price'].median(),
    'Std Deviation': df['Price'].std(),
    'Minimum': df['Price'].min(),
    'Maximum': df['Price'].max(),
    '20th Percentile': df['Price'].quantile(0.2),
    '80th Percentile': df['Price'].quantile(0.8)
}

statistics

{'Average': 39371.897643852215,
 'Median': 38522.14,
 'Std Deviation': 12242.980742113608,
 'Minimum': 20669.38,
 'Maximum': 74289.02,
 '20th Percentile': 26981.6,
 '80th Percentile': 49638.94}

In [42]:
# Convert the Date column to datetime type and extract the year
df['Year'] = pd.to_datetime(df['Date']).dt.year

# Group by year and calculate the required statistics for the Price column
stats_by_year_close = df.groupby('Year')['close'].agg([
    ('Average', 'mean'),
    ('Median', 'median'),
    ('Std Deviation', 'std'),
    ('Minimum', 'min'),
    ('Maximum', 'max'),
    ('20th Percentile', lambda x: x.quantile(0.2)),
    ('80th Percentile', lambda x: x.quantile(0.8))
])

stats_by_year_close.reset_index(inplace=True)
stats_by_year_close

,Year,Average,Median,Std Deviation,Minimum,Maximum,20th Percentile,80th Percentile
0,2015,30543.170000,30543.170,NaN,30543.17,30543.17,30543.170,30543.170
1,2016,26963.255060,27220.090,983.768323,25233.42,28419.92,25772.894,27860.010
2,2017,31734.405673,33236.700,5117.024263,24581.99,39534.14,25625.284,36835.178
3,2018,38949.372923,39323.620,3620.839716,32022.23,45092.83,35400.276,42266.936
4,2019,27536.639859,27267.570,1153.783692,26092.82,30527.07,26540.456,28133.644
5,2020,27101.472846,25546.080,4225.561797,20669.38,40270.72,24173.530,29437.600
6,2021,40035.034758,39449.230,1601.916694,37612.72,43730.55,38687.702,41814.152
7,2022,48549.354758,48567.855,2710.047141,43026.23,54085.30,46627.386,51361.634
8,2023,60980.900329,61523.570,7249.732652,50868.52,74289.02,52946.112,67737.178